In [12]:
import mysql.connector

In [13]:
conn = mysql.connector.connect(host='localhost',
                                       database='dbmslab',
                                       user='root',
                                       password='Geeky@Zain98')
cursor=conn.cursor(buffered=True)
cursor.execute('SHOW tables')
for x in cursor:
    print(x)

('dept_total_salary',)
('faculty',)
('form',)
('instructor',)
('teaches',)
('teaches2',)

In [14]:
cursor.execute("DESCRIBE instructor")
records=cursor.fetchall()
for x in records:
    print(x)

('ID', b'int', 'NO', 'PRI', None, '')
('name', b'varchar(100)', 'NO', '', None, '')
('dept_name', b'varchar(100)', 'NO', '', None, '')
('salary', b'double', 'YES', '', None, '')

In [16]:
cursor.execute("create view faculty as select ID ,name,dept_name from instructor")

In [17]:
cursor.execute("create view dept_total_salary as select dept_name ,sum(salary) as 'Total' from instructor group by dept_name")

In [18]:
cursor.execute("create role student")

In [19]:
cursor.execute("grant select on faculty to student")

In [20]:
cursor.execute("CREATE USER 'nuser@localhost' IDENTIFIED BY 'Geeky@Zain98'")

In [21]:
cursor.execute("grant student to nuser")

In [22]:
cursor.execute("REVOKE ALL PRIVILEGES, GRANT OPTION FROM 'nuser'@'localhost'")

In [23]:
cursor.execute("drop role student")

In [24]:
cursor.execute("grant select on faculty to nuser@localhost")

In [25]:
cursor.execute("CREATE TABLE teaches2 (ID INT NOT NULL, Course_id VARCHAR(10) NOT NULL,sec_id VARCHAR(10) NOT NULL,semester ENUM('fall', 'winter', 'spring', 'summer') NOT NULL,year INT NOT NULL,PRIMARY KEY (ID))")

In [26]:
cursor.execute("SET @start_time = NOW();SELECT * FROM teaches WHERE ID = 83821;SELECT TIMEDIFF(NOW(), @start_time);")

In [27]:
cursor.execute("CREATE INDEX idx_teaches_ID ON teaches (ID)")

In [28]:
cursor.execute("SET @start_time = NOW();SELECT * FROM teaches WHERE ID = 83821;SELECT TIMEDIFF(NOW(), @start_time);")

In [29]:
cursor.execute("ALTER TABLE teaches DROP INDEX idx_teaches_ID;")

### Small Project
#### Create a python program/application which asks users to fill up a form (say name, address, contact number etc) and inserts those values into a corresponding table in a database. Use git to manage the code.

In [30]:
from tkinter import *
root = Tk()
root.geometry("500x300")
root.title("Form")
Label(root, text="Name").grid(row=0, column=0)
name = Entry(root)
name.grid(row=0, column=1)

Label(root, text="Address").grid(row=1, column=0)
address = Entry(root)
address.grid(row=1, column=1)

Label(root, text="Contact Number").grid(row=2, column=0)
contact_number = Entry(root)
contact_number.grid(row=2, column=1)

def insert_data():
    conn = mysql.connector.connect(host='localhost',
                                       database='dbmslab',
                                       user='root',
                                       password='Geeky@Zain98')
    cursor=conn.cursor(buffered=True)

    # Create a table to store the form data
    cursor.execute("CREATE TABLE form (name VARCHAR(255), address VARCHAR(255), contact_number VARCHAR(255))")

    # Insert the form data into the table
    sql = "INSERT INTO form (name, address, contact_number) VALUES (%s, %s, %s)"
    val = (name.get(), address.get(), contact_number.get())
    cursor.execute(sql, val)

   
    conn.commit()
    conn.close()


Button(root, text="Submit", command=insert_data).grid(row=3, column=1)
Button(root, text="Close", command=root.destroy).grid(row=5, column=1)

root.mainloop()