In [4]:
import mysql.connector

In [5]:
conn = mysql.connector.connect(host='localhost',
                                       database='dbmslab',
                                       user='root',
                                       password='Geeky@Zain98')
cursor=conn.cursor(buffered=True)
cursor.execute('SHOW tables')
for x in cursor:
    print(x)

('dept_total_salary',)
('faculty',)
('instructor',)
('teaches',)
('teaches2',)

In [6]:
cursor.execute("DESCRIBE instructor")
records=cursor.fetchall()
for x in records:
    print(x)

('ID', b'int', 'NO', 'PRI', None, '')
('name', b'varchar(100)', 'NO', '', None, '')
('dept_name', b'varchar(100)', 'NO', '', None, '')
('salary', b'double', 'YES', '', None, '')

In [8]:
cursor.execute("drop view faculty")

In [9]:
cursor.execute("create view faculty1 as select ID ,name,dept_name from instructor")

In [10]:
cursor.execute("create view dept_total_salary as select dept_name ,sum(salary) as 'Total' from instructor group by dept_name")

ProgrammingError: 1050 (42S01): Table 'dept_total_salary' already exists