In [1]:
import mysql.connector

In [2]:
conn = mysql.connector.connect(host='localhost',
                                       database='dbmslab',
                                       user='root',
                                       password='Geeky@Zain98')
cursor=conn.cursor(buffered=True)
cursor.execute('SHOW tables')
for x in cursor:
    print(x)

('dept_total_salary',)
('faculty',)
('form',)
('instructor',)
('teaches',)
('teaches2',)

In [3]:
cursor.execute("describe instructor")
records=cursor.fetchall()
for x in records:
    print(x)

('ID', b'int', 'NO', 'PRI', None, '')
('name', b'varchar(100)', 'NO', '', None, '')
('dept_name', b'varchar(100)', 'NO', '', None, '')
('salary', b'double', 'YES', '', None, '')
('age', b'int', 'YES', '', None, '')
('ages', b'int', 'YES', '', None, '')

In [4]:
#cursor.execute("SET GLOBAL log_bin_trust_function_creators = 1;")
#cursor.execute("CREATE FUNCTION QuarterSal(jan int,feb int,mar int) RETURNS int(10) BEGIN DECLARE result int(10); set result=jan+feb+mar; RETURN result; END; ")

In [5]:
print("enter the salary for respected months")
jan=float(input('enter for january'))
feb=float(input('enter for february'))
mar=float(input('enter for March'))
sql = "Set @x=QuarterSal(%s, %s, %s)"
val = (jan, feb, mar)
cursor.execute(sql, val)
cursor.execute("select @x")
records=cursor.fetchall()
for x in records:
    print('The total salary for Quarter 1',x)

enter the salary for respected months
enter for january12000
enter for february25000
enter for March15260
The total salary for Quarter 1 (52260,)

In [6]:
#cursor.execute("ALTER table instructor Add age int(10)")

In [7]:
cursor.execute(" SELECT * FROM instructor;")
records=cursor.fetchall()
for x in records:
    print(x)

(10101, 'Srinivasan', 'Comp. Sci.', 65000.0, 34, None)
(10211, 'Smith', 'Biology', 66000.0, 35, None)
(10212, 'Tom', 'Biology', None, 42, None)
(12121, 'Wu', 'Finance', 90000.0, 38, None)
(15151, 'Mozart', 'Music', 40000.0, 45, None)
(22222, 'Einstein', 'Physics', 95000.0, 55, None)
(32343, 'El Said', 'History', 60000.0, 48, None)
(33456, 'Gold', 'Physics', 87000.0, 60, None)
(45565, 'Katz', 'Comp. Sci.', 75000.0, 50, None)
(58583, 'Califieri', 'History', 62000.0, 42, None)
(76543, 'Singh', 'Finance', 80000.0, 35, None)
(76766, 'Crick', 'Biology', 72000.0, 38, None)
(83821, 'Brandt', 'Comp. Sci.', 92000.0, 36, None)
(98345, 'Kim', 'Elec. Eng.', 80000.0, 53, None)

In [45]:
list=[34,35,42,38,45,55,48,60,50,42,35,38,36,53]
cursor.execute("select id from instructor")
records=cursor.fetchall()
id=[]
for x in records:
    id.append(x[0])

print(id)
i=0
for x,i in zip(id,list):
    query="update instructor set age=%s where ID=%s"
    cursor.execute(query,(i,x))


cursor.execute("select * from instructor")
records=cursor.fetchall()
for x in records:
    print(x)

[10101, 10211, 10212, 12121, 15151, 22222, 32343, 33456, 45565, 58583, 76543, 76766, 83821, 98345]
(10101, 'Srinivasan', 'Comp. Sci.', 65000.0, 34)
(10211, 'Smith', 'Biology', 66000.0, 35)
(10212, 'Tom', 'Biology', None, 42)
(12121, 'Wu', 'Finance', 90000.0, 38)
(15151, 'Mozart', 'Music', 40000.0, 45)
(22222, 'Einstein', 'Physics', 95000.0, 55)
(32343, 'El Said', 'History', 60000.0, 48)
(33456, 'Gold', 'Physics', 87000.0, 60)
(45565, 'Katz', 'Comp. Sci.', 75000.0, 50)
(58583, 'Califieri', 'History', 62000.0, 42)
(76543, 'Singh', 'Finance', 80000.0, 35)
(76766, 'Crick', 'Biology', 72000.0, 38)
(83821, 'Brandt', 'Comp. Sci.', 92000.0, 36)
(98345, 'Kim', 'Elec. Eng.', 80000.0, 53)