In [7]:
import mysql.connector

In [8]:
conn = mysql.connector.connect(host='localhost',
                                       database='dbmslab',
                                       user='root',
                                       password='Geeky@Zain98')
cursor=conn.cursor(buffered=True)
cursor.execute('SHOW tables')
for x in cursor:
    print(x)

('dept_total_salary',)
('faculty',)
('form',)
('instructor',)
('teaches',)
('teaches2',)

In [11]:
cursor.execute("describe instructor")
records=cursor.fetchall()
for x in records:
    print(x)

('ID', b'int', 'NO', 'PRI', None, '')
('name', b'varchar(100)', 'NO', '', None, '')
('dept_name', b'varchar(100)', 'NO', '', None, '')
('salary', b'double', 'YES', '', None, '')

In [28]:
cursor.execute("SET GLOBAL log_bin_trust_function_creators = 1;")
cursor.execute("CREATE FUNCTION QuarterSal(jan int,feb int,mar int) RETURNS int(10) BEGIN DECLARE result int(10); set result=jan+feb+mar; RETURN result; END; ")

In [39]:
print("enter the salary for respected months")
jan=float(input('enter for january'))
feb=float(input('enter for february'))
mar=float(input('enter for March'))
sql = "Set @x=QuarterSal(%s, %s, %s)"
val = (jan, feb, mar)
cursor.execute(sql, val)
cursor.execute("select @x")
records=cursor.fetchall()
for x in records:
    print('The total salary for Quarter 1',x)

enter the salary for respected months
The total salary for Quarter 1 (5186,)