In [10]:
import mysql.connector

In [11]:
conn = mysql.connector.connect(host='localhost',
                                       database='dbmslab',
                                       user='root',
                                       password='Geeky@Zain98')
cursor=conn.cursor(buffered=True)
cursor.execute('SHOW tables')
for x in cursor:
    print(x)

('dept_total_salary',)
('faculty',)
('form',)
('instructor',)
('teaches',)
('teaches2',)

In [12]:
cursor.execute("describe instructor")
records=cursor.fetchall()
for x in records:
    print(x)

('ID', b'int', 'NO', 'PRI', None, '')
('name', b'varchar(100)', 'NO', '', None, '')
('dept_name', b'varchar(100)', 'NO', '', None, '')
('salary', b'double', 'YES', '', None, '')
('age', b'int', 'YES', '', None, '')

1. Given input as salary of three months (jan, feb, march),
write a program that returns the total salary for quarter 1 (Q1).

In [13]:
cursor.execute("SET GLOBAL log_bin_trust_function_creators = 1;")
#cursor.execute("CREATE FUNCTION QuarterSal(jan int,feb int,mar int) RETURNS int(10) BEGIN DECLARE result int(10); set result=jan+feb+mar; RETURN result; END; ")

In [14]:
print("enter the salary for respected months")
jan=float(input('enter for january'))
feb=float(input('enter for february'))
mar=float(input('enter for March'))
sql = "Set @x=QuarterSal(%s, %s, %s)"
val = (jan, feb, mar)
cursor.execute(sql, val)
cursor.execute("select @x")
records=cursor.fetchall()
for x in records:
    print('The total salary for Quarter 1',x)

enter the salary for respected months
The total salary for Quarter 1 (6400,)

Alter the existing instructor table and add a column of age and fill in the values in it.

In [15]:
#cursor.execute("ALTER table instructor Add age int(10)")

In [16]:
list=[34,35,42,38,45,55,48,60,50,42,35,38,36,53]
cursor.execute("select id from instructor")
records=cursor.fetchall()
id=[]
for x in records:
    id.append(x[0])

print(id)
i=0
for x,i in zip(id,list):
    query="update instructor set age=%s where ID=%s"
    cursor.execute(query,(i,x))


cursor.execute("select * from instructor")
records=cursor.fetchall()
for x in records:
    print(x)

[10101, 10211, 10212, 12121, 15151, 22222, 32343, 33456, 45565, 58583, 76543, 76766, 83821, 98345]
(10101, 'Srinivasan', 'Comp. Sci.', 65000.0, 34)
(10211, 'Smith', 'Biology', 66000.0, 35)
(10212, 'Tom', 'Biology', None, 42)
(12121, 'Wu', 'Finance', 90000.0, 38)
(15151, 'Mozart', 'Music', 40000.0, 45)
(22222, 'Einstein', 'Physics', 95000.0, 55)
(32343, 'El Said', 'History', 60000.0, 48)
(33456, 'Gold', 'Physics', 87000.0, 60)
(45565, 'Katz', 'Comp. Sci.', 75000.0, 50)
(58583, 'Califieri', 'History', 62000.0, 42)
(76543, 'Singh', 'Finance', 80000.0, 35)
(76766, 'Crick', 'Biology', 72000.0, 38)
(83821, 'Brandt', 'Comp. Sci.', 92000.0, 36)
(98345, 'Kim', 'Elec. Eng.', 80000.0, 53)

5.Create a function that helps distinguish whether an instructor is eligible for sabbatical or not.
An instructor can avail sabbatical only if his/her age is greater than 40.
So, write a program that takes as input an integer (representing age) and
returns affirmatively if the integer is greater than 40.

In [17]:
cursor.execute("set global log_bin_trust_function_creators = 1")
#cursor.execute("create function isSabbatical (age int(10)) returns int begin declare result TINYINT; set result = age > 40; return result; end")

6) Commit your work on github

In [19]:
"""import os
from git import Repo

# Initialize a new Git repository or open an existing one
repo_path = os.getcwd()
repo = Repo.init(repo_path)

# Add the database.py file to the repository
repo.index.add(['Lab_8.ipynb'])

# Commit the changes
repo.index.commit('Lab_8.ipynb')

# Push the changes to GitHub
origin = repo.remote(name='origin')
origin.push()"""

"import os\nfrom git import Repo\n\n# Initialize a new Git repository or open an existing one\nrepo_path = os.getcwd()\nrepo = Repo.init(repo_path)\n\n# Add the database.py file to the repository\nrepo.index.add(['Lab_8.ipynb'])\n\n# Commit the changes\nrepo.index.commit('Lab_8.ipynb')\n\n# Push the changes to GitHub\norigin = repo.remote(name='origin')\norigin.push()"

7) Find all instructors who can avail sabbatical from the database.

In [20]:
cursor.execute("select name from instructor where isSabbatical(age ) = 1")
myresult = cursor.fetchall()
print("Instructors who are eligible  for sabbatical")
for x in myresult:
    print(x)

Instructors who are eligible  for sabbatical
('Tom',)
('Mozart',)
('Einstein',)
('El Said',)
('Gold',)
('Katz',)
('Califieri',)
('Kim',)

8) Add columns of monthly salary, exemptions, taxes, gross_salary etc.

In [21]:
cursor.execute("ALTER TABLE instructor "
"RENAME COLUMN salary to monthly_salary,"
"ADD COLUMN exemptions double,"
"ADD COLUMN gross_salary double")

9) Commit your work on github

In [ ]:
"""import os
from git import Repo

# Initialize a new Git repository or open an existing one
repo_path = os.getcwd()
repo = Repo.init(repo_path)

# Add the database.py file to the repository
repo.index.add(['Lab_8.ipynb'])

# Commit the changes
repo.index.commit('Comlete all Lab 8 queries')

# Push the changes to GitHub
origin = repo.remote(name='origin')
origin.push()"""