In [1]:
import mysql.connector

In [2]:
conn = mysql.connector.connect(host='localhost',
                                       database='dbmslab',
                                       user='root',
                                       password='Geeky@Zain98')
cursor=conn.cursor(buffered=True)
cursor.execute('SHOW tables')
for x in cursor:
    print(x)

('customer',)
('dept_total_salary',)
('faculty',)
('form',)
('instructor',)
('movies',)
('teaches',)
('teaches2',)
('theater',)

In [3]:
cursor.execute("describe movies")
records=cursor.fetchall()
for x in records:
    print(x)

('movie_id', b'int', 'NO', '', None, '')
('movie_name', b'varchar(45)', 'YES', '', None, '')
('price', b'int', 'YES', '', None, '')

Create a movie ticket booking system on python which is connected to a database. The users should
be able to choose the movie, theater, screen and city of their choice to watch the movie. Use python
for your work and use object oriented features of python like classes, inheritance, etc. Then input
these values into a connected database. Additionally use git for version control.

In [95]:
class Movie:
    def __init__(self, movie_id,movie_name, price):
        self.movie_id=movie_id
        self.movie_name = movie_name
        self.price = price
        
    def printname(self):
        print('----------------------------------')
        print('movie: ',self.movie_name)
        print('price: ',self.price)
        print('----------------------------------')


class Theatre(Movie):
    def theater(movieid):
        query="select theater_name,seats,screen,city from theater where movie_id=%s"
        cursor.execute(query,(movieid,))
        records=cursor.fetchall()
        print('theater','seats','screen','city')
        for x in records:
            print(x)

In [101]:
from tabulate import tabulate
cursor.execute("select * from movies")
records=cursor.fetchall()
for x in records:
    movies=Theatre(x[0],x[1],x[2])
    movies.printname()
    Theatre.theater(x[0])

mname=input('enter movie name')
tname=input('enter theater name')
screen=input('enter screen number')
city=input('select city')
query="insert into booking values(%s,%s,%s,%s)"
val=(mname,tname,screen,city)
cursor.execute(query,val)
print('====================================')
print("data entered successfully")
print("booking details")
print(tabulate([['Movie',mname],['theater',tname],['screen',screen],['city',city]],headers=['Index','value']))

----------------------------------
movie:  John wick
price:  250
----------------------------------
theater seats screen city
('Pacicfic mall', 50, 2, 'Dhanbad')
('Prabhatam Mall', 40, 1, 'Dhanbad')
('Ozone Mall', 30, 3, 'Dhanbad')
----------------------------------
movie:  Avatar
price:  240
----------------------------------
theater seats screen city
('Pacicfic mall', 50, 2, 'Dhanbad')
('Prabhatam Mall', 40, 1, 'Dhanbad')
----------------------------------
movie:  Bhola
price:  200
----------------------------------
theater seats screen city
('Ozone Mall', 30, 3, 'Dhanbad')
('Prabhatam Mall', 40, 1, 'Dhanbad')
====================================
data entered successfully
booking details
Index    value
-------  -------
Movie    bhola
theater  pacific
screen   3
city     dhanbad